
#sliderContent {
    margin:auto;
    padding:0px;
    background-color:#ebebeb;
    border:0px solid #898989;
    text-align: center;
}
#current.viewer {
    margin: auto;
    height:130px;
    position:relative;
    padding:0px;
    border:1px solid rgba(137, 137, 137, 0);
    display: inline-block;
}
#similarities.viewer {
    height:130px;
    margin: auto; /*top right bottom left*/
    padding:0px;
    overflow:auto;
    position:relative;
    border:1px solid #898989;
    display: inline-block;
    background-color: #ebebeb;;
}
.content-conveyor {
    display: inline-block; 
    position:relative;
}
.item {
    width: 150px;
    display: inline-block;
    float:left;
    font-family:arial; 
    text-align:center;
    /*background-color:#ebebeb;*/
    background-color: #ebebeb;;
}
.item img {
    padding:0px;
}

.item a:hover {
    opacity: 0.5;
}

.item .text {
    margin-top: -8px;
}
