.node {
  cursor: pointer;
}

.node text {
  font-size: 12px;
  font-family: arial;
}

path.children {
  fill: #DDDDDD;
}

.link {
  fill: none;
  stroke: #DDDDDD;
  stroke-opacity: 0.7;
  stroke-width: 2px;
}

.timeaxisline {
  stroke: #FFFFFF;
  stroke-opacity: 0.2;
  stroke-width: 1px;
}

.timeaxislabel {
  font-size: 16px;
  font-family: arial;
  fill: #DDDDDD;
}

div {
  margin: 0;
  border: 0;
  padding: 0;
}

rect {
  stroke : none;
  stroke-width: 1;
  fill: #111111;
}

#svgContent {
  align: center;
}

#panelContent {
  background-color: white;
  font-size: 16px;
  font-family: arial;
}

#header{
  height: 50px;
  background: white;
  border: 0px;
  border-color: gray;
  border-style: solid;
  margin-top: 3px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: arial;
  font-color: white;
}

.d3-tip {
  line-height: 1;
  background: rgba(238, 238, 238, 0.9);
  font-family: arial;
  padding: 10px;
  color: #000000;
  border: 0px;
  border-radius: 12px;
  pointer-events: none;
}

.d3-tipPath {
  line-height: 1;
  background: #FFFFFF;
  font-family: arial;
  padding: 10px;
  color: #000000;
  border: 0px;
  border-radius: 12px;
  pointer-events: none;
}

/*.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(238, 238, 238, 0.9);
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  content: "\25BC";
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip.s:after {
  content: "\25B2";
  margin: -8px 0 0 0;
  top: 0%;
  left: 0;
}*/


svgBrush {
  font: 10px sans-serif;
}

#panelContent .brushxaxis,
#panelContent .brushyaxis {
  fill: black;
  stroke: black;
  font-size: 14px;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#panelContent line, #panelContent path {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

#panelContent .area {
    fill: lightsteelblue;
    stroke-width: 0;
}
#panelContent .areaTop {
    fill: darkblue;
    stroke-width: 0;
}

#panelContent .extent {
  stroke: #fff;
  fill: #E3C937;
  fill-opacity: .4;
  
}
.button {
  background-color:darkblue;
  border-radius:20px;
  display:inline-block;
  color:#ffffff;
  font-family:arial;
  font-size:12px;
  padding: 6px 8px;
  margin: 0px;
}



