.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

div {
    margin: 0;
    border: 0;
    padding: 0;
}

#svgContent {
     align:center;
}

#topbarSelectHalo
{
    text-align:center;
	font-size: 20px;
    font-family:Arial;
}

#leftPanel {
    background-color:#E8E8E8;
	font-size: 20px;
    font-family:Arial;
}

#header{
    width:100%;
    background:white;
    border:0px;
    border-color:gray;
    border-style:solid;
	text-align: center;
	font-size: 50px;
    font-family:Arial;

}